main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3 {
    font-weight: 400;
}

.description>p {
    font-family: 'Akhand';
    line-height: 1.5em;
}

h1,
h3 {
    font-family: 'Akhand' , 'Milonga';
    line-height: 1.5em;
}

.name_group {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    padding-left: 3px;
}
li{
    list-style: none;
}
.grp1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    font-size: large;
    padding: 10px;
}
.flora_input{
    margin-bottom: 8px;
    width: 220px;
    font-size: medium;
    height: 45px;
    font-family: initial;
}

@media screen and (max-width: 600px) {
    .main_container {
        width: 100vw;
    }
/* 
    .name_group {
        flex-direction: column;
    } */

}