<main>
  <form class="main_container"  [formGroup]="floraForm">

<app-photo-upload-preview (remove)="removeCoverPhoto()" [photoSrc]="coverPhoto.path" ></app-photo-upload-preview>

<input type="file" #fileInput [disabled]="coverPhoto.path == '' ? false : true"  (change)="uploadCoverPhoto($event)" />

    <div class="name_group">
      <div class="grp1">
        <label>Main Name:  </label>
        <input type="text" class="flora_input" formControlName="banglaName" />
        <label>Other Name:</label>
        <input type="text" class="flora_input" formControlName="othersName" />
        <label>scientific Name: </label>
        <input type="text" placeholder="ex: Homo Sapience" [formControl]="scientificname" class="flora_input"
        />
        <form class="grp1" formGroupName="hierarchy">
            <label>Kingdom:</label><input type="text" formControlName="kingdom" class="flora_input" /> 
            <label>Family: </label><input type="text"  formControlName="family" class="flora_input" />
            <label>Order: </label> <input type="text" formControlName="order" class="flora_input" />
            <label>Genus: </label> <input type="text" formControlName="genus" class="flora_input" />
            <label>Species: </label> <input type="text" formControlName="species" class="flora_input" />
          </form>
        </div>
      </div>
    <br />
    <h3>বর্ননা:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      style="width: 90%; height: 400px"
      formControlName="description"
    ></textarea>
    <div class="photoGroup">
      <app-photo-upload-preview *ngFor="let photo of photos;let indexOfEl = index"  [photoSrc]="photo.path" (remove)="removeAt(indexOfEl)">
      </app-photo-upload-preview>
      <br>
      <input #fileInput type="file" multiple (change)="uploadPhotos($event)">
    </div>
    <br>
    <h3>Reference:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      formControlName="reference"
      style="width: 90%; height: 100px"
    ></textarea>
    <br>
    <button (click)="submit()">Submit</button>
  </form>
</main>
<br />
<br /> 

