<main>
  <div class="main_container">
    <div class="feature_image">
      <img src="http://localhost:5277\photo\0275684a-c6c4-4923-b7d9-2fb273f082e4_fg.jpg
      " alt="" />
      <div>
      <input type="file" />
    </div>
    </div>
    <div class="name_group">
      <div class="grp1">
        <label>প্রধান নাম : <input type="text" class="flora_input" /> </label>
        <label>অন্যান্য নাম : <input type="text" class="flora_input" /></label>
        <label
          >বৈজ্ঞানিক নাম : <input type="text" placeholder="ex: Homo Sapience" class="flora_input"
        /></label>
        <li>
            <label>Kingdom: <input type="text" class="flora_input" /> </label>
          </li>
          <li>
            <label>Family: <input type="text" class="flora_input" /></label>
          </li>
          <li>
            <label>Order: </label> <input type="text" class="flora_input" />
          </li>
          <li>
            <label>Genus: </label> <input type="text" class="flora_input" />
          </li>
          <li>
            <label>Species: </label> <input type="text" class="flora_input" />
          </li>

      </div>

      </div>
    <br />
    <h3>বর্ননা:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      style="width: 90%; height: 400px"
    ></textarea>
  </div>
</main>
<br />
<br />
