<main>
  <form class="main_container"  [formGroup]="floraForm">

<app-photo-upload-preview (remove)="removeCoverPhoto()" ></app-photo-upload-preview>

<input type="file"  (change)="uploadCoverPhoto($event)" />
    <div class="name_group">
      <div class="grp1">
        <label>প্রধান নাম : <input type="text" class="flora_input" formControlName="banglaName" /> </label>
        <label>অন্যান্য নাম : <input type="text" class="flora_input" formControlName="othersName" /></label>
        <label
          >বৈজ্ঞানিক নাম : <input type="text" placeholder="ex: Homo Sapience" [formControl]="scientificname" class="flora_input"
        /></label>
        <div formGroupName="hierarchy">
        <li>
            <label>Kingdom: <input type="text" formControlName="kingdom" class="flora_input" /> </label>
          </li>
          <li>
            <label>Family: <input type="text"  formControlName="family" class="flora_input" /></label>
          </li>
          <li>
            <label>Order: </label> <input type="text" formControlName="order" class="flora_input" />
          </li>
          <li>
            <label>Genus: </label> <input type="text" formControlName="genus" class="flora_input" />
          </li>
          <li>
            <label>Species: </label> <input type="text" formControlName="species" class="flora_input" />
          </li>
        </div>
      </div>

      </div>
    <br />
    <h3>বর্ননা:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      style="width: 90%; height: 400px"
    ></textarea>

    <h3>Reference:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      formControlName="description"
      style="width: 90%; height: 100px"
    ></textarea>
  </form>
  <button (click)="submit()" >Submit</button>
</main>
<br />
<br />

