<div class="term" *ngIf="isShowTerm">
  <div>
    <h2>Term & Condition</h2>
    <br>
    <p>
      
১। পুরোপুরিভাবে স্বেচ্ছাসেবী মানসিকতায় উদ্ভিদ ও প্রকৃতির প্রতি ভালোবাসা থেকে কাজ করতে হবে। কোনোপ্রকার আর্থিক উদ্দেশ্য রাখা যাবে না। কারণ আমাদের এই প্রজেক্টটা পুরোপুরি অলাভজনক। 
<br><br>
২। কমপক্ষে ১০০টি প্রজাতির flora ওয়েবসাইটে পাবলিশ করলে 'Honourable Contributors' List-এ স্থান দেওয়া হবে।
যিনি যত বেশি পরিমাণ পাবলিশ করবেন, তাঁকে তত উঁচু সম্মানজনক rank দেওয়া হবে।
<br><br>
৩। ওয়েবসাইটে প্রকাশিত কোনো লেখা সম্পাদনা, বাতিল, অনুমোদন করার অধিকার একমাত্র Website Admin-এর।
<br><br>
৪। কোনোপ্রকার ক্রেডিটহীন তথ্য বা পিকচার গ্রহণযোগ্য নয়। সরাসরি Copy-Paste অনুমোদিত নয়। নিজের ভাষায় সঠিক তথ্য, রেফারেন্স, ক্রেডিট প্রদানপূর্বক ড্যাটা আপলোড করতে হবে। বার বার copy-paste করলে তাঁকে কনট্রিবিউটর হিসেবে বাতিল করা হবে।
অ্যাডমিন আপনার ড্যাটা চেক দিয়ে তারপর অ্যাপ্রুভ করবে বা বাতিল করবে।
<br><br>
৫। ওয়েবসাইটে থাকা কোনো Flora নিয়ে ওয়েবসাইটের পূর্বের তথ্যের চেয়েও সমৃদ্ধ কোনো তথ্য বা সাইটে আপলোড করার মতো কোনো রিসোর্স আপনার নিকট থাকলে বা আর্টিকেলটাকে আরও বেটার করতে চাইলে করতে পারবেন। সেক্ষেত্রে Co-contributor হিসেবে স্থান পাবেন। 
<br><br>
৬। ছবির কোয়ালিটি ভালো হতে হবে। একাধিক ছবির ক্ষেত্রে উদ্ভিদের একই অংশের ছবি না সিলেক্ট করে বিভিন্ন অংশের ছবি সিলেক্ট করবেন।
<br><br>
৭। ইংরেজি, বৈজ্ঞানিক ও বাংলা বানান, ভাষা নির্বাচনে যত্নবান থাকতে হবে। 
<br><br>
৮। বিশ্বস্ত রেফারেন্সবিহীনভাবে স্পর্শকাতর বা উদ্ভিদের উপকারিতা, অপকারিতা বা অন্যান্য  তথ্য প্রদান করা যাবে না। বর্ণনা খুব বড়ো করে দিতে হবে এমন কোনো আবশ্যকতা নেই। তবে রেফারেন্সযুক্ত তথ্যসমৃদ্ধ বর্ণনা সবসময়ই প্রায়োরিটি পাবে ও প্রশংসাযোগ্য। 
<br><br>
৯। কন্ট্রিবিউটর তাঁর পূর্বে কনট্রিবিউট করা পোস্ট আপডেট করতে পারবেন কিন্তু ডিলিট করতে পারবেন না। বিশেষ ক্ষেত্রে সেক্ষেত্রে অ্যাডমিনের অনুমতিসাপেক্ষে পূর্বের কোনো ড্যাটা ডিলিট বা মুছে ফেলতে পারবেন (Admin ছাড়া কোন কন্ট্রিবিউটার ডিলিট করতে পারবেন না)।
<br><br>
১০। ওয়েবসাইট থেকে তথ্য নিয়ে কোথাও পোস্ট করতে চাইলে পোস্টে বা সেই পোস্টের কমেন্ট বক্সে ওয়েবসাইটের লিংক প্রদর্শিত করতে হবে। সেটা ওয়েবসাইটে নিজের কনট্রিবিউট করা উদ্ভিদের পোস্ট হলেও।
এই নিয়ম ভঙ্গ করলে কয়েকবার সতর্ক করার পরেও সতর্ক না হলে তাকে কনট্রিবিউটর লিস্ট থেকে সরিয়ে ফেলা হবে।
কাজ করা বা যে-কোনো বিষয়ে কোনো অভিযোগ বা পরামর্শ থাকলে অ্যাডমিন-কে জানাতে হবে। এছাড়া ওয়েবসাইটে কাজ করার ব্যাপারে যে-কোনো সাহায্য বা নির্দেশনা পেতে চাইলে wikiflorabd@gmail.com-তে মেইল করুন। অথবা Admin-এর ফেসবুক আইডি Akash Hossain Rayhan[Link দিয়েন]]-তে নক করুন। Admin-এর উদ্ভিদ সম্পর্কিত ফেসবুক গ্রুপ ‘তরু-লতা-গুল্ম’[লিঙ্ক দিয়েন]তে জানতে চাইতে পারেন।
    </p>
    <br>
    <button (click)="addUser()">Accept</button>
  </div>
</div>

<app-header></app-header>
<br />
 <div class="category_box">
    <button routerLink="/search"> Search </button>
</div> 

<section class="data_table" id="data_table_section">
  <app-info-card
    *ngFor="let flora of page?.data"
    [floraInfo]="flora"
  ></app-info-card>
</section>

<div class="pagination">
    <a href="#data_table_section">
  <button
    class="prev pagination_input"
    (click)="prevPage()"
    [disabled]="isDisablePrevButton"
    
  >
    <i class="material-icons">arrow_back_ios</i>
  </button>
    </a>
  <input
    type="number"
    [max]="page?.maxPageIndex"
    class="page_index pagination_input"
    [value]="page?.currentPageIndex"
  />
  <span style="color: white; font-family: 'Courier New', Courier, monospace"
    >of {{ page?.maxPageIndex }}</span
  >
  <a href="#data_table_section">
  <button
    class="nxt pagination_input"
    (click)="nextPage()"
    [disabled]="isDisableNextButton"
  >
    <i class="material-icons"> arrow_forward_ios </i>
  </button>
</a>
</div>

