<header style=" background-image: url('/assets/images/header_image.jpg');">

    <div class="header_container">
        <div class="main_heading">
            <h1>Flora of Bangladesh</h1>
        </div>
        <br>
        <div class="heading_secondary" data-left="50">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut aspernatur, molestias enim neque maxime, at modi nemo harum temporibus soluta dolorum voluptatem esse laboriosam accusamus nisi. Exercitationem impedit cupiditate sequi modi libero, reprehenderit, est inventore, quas iusto voluptatibus fugit hic!</p>
        </div>

        <button>Contribute</button>
    </div>

</header>