<main>
  <div class="main_container" *ngIf="flora$ | async as flora">
    <div class="feature_image">
      <img [src]="coverPhoto?.path" alt="" />
    </div>
    <div class="name_group">
      <div class="grp1">
        <h1>প্রধান নাম : {{flora.banglaName}} </h1>
        <h3>অন্যান্য নাম : {{ flora.othersName }}</h3>
        <h3 style="font-style: italic">
          বৈজ্ঞানিক নাম : {{ flora.scientificName.genus | capitalize }}
          {{ flora.scientificName.specificEpithet }}
        </h3>
        <h3 *ngIf="user$ | async as user" routerLink="/profile/{{user.userId}}" >Contributer : {{user.name}}</h3>
      </div>
      <br />
      <div class="classification_section">
        <h3>শ্রেণিবিন্যাস:</h3>
        <ul>
          <li>Kingdom : {{ flora.hierarchy.kingdom }}</li>
          <li>Family : {{ flora.hierarchy.family }}</li>
          <li>Order : {{ flora.hierarchy.order }}</li>
          <li>Genus : {{ flora.hierarchy.genus }}</li>
          <li>Species : {{ flora.hierarchy.species }}</li>
          <li>Binomial Name : {{ flora.hierarchy.bionomialName }}</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="description">
      <h3>বর্ননা:</h3>
      <p>
        {{ flora.description }}
      </p>
    </div>
    <h2>
      Photos:
    </h2>
    <div  class="photos">
        <img *ngFor="let photo of flora.photos" [src]="photo.path" [alt]=" flora.banglaName ">
    </div>
    <div class="comment">
      <br>
        <textarea #commentBody ></textarea>
        <button (click)="comment(commentBody.value)" >Comment</button>
    </div>
    <div *ngIf="comments$ | async as comments">
          <app-comment *ngFor="let comment of comments" [comment]="comment" ></app-comment>

    </div>
  </div>
</main>
<br>
<br>