<div>
<table>
    <thead>
    <tr>
        <th>Flora Name</th>
        <th>Others Name</th>
        <th>Scientific Name</th>
        <th>Contributer</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Flora Name</td>
        <td>Others Name</td>
        <td>Scientific Name</td>
        <td>Contributer</td>
    </tr>
    <tr>
        <td>Flora Name</td>
        <td>Others Name</td>
        <td>Scientific Name</td>
        <td>Contributer</td>
    </tr>
    <tr>
        <td>Flora Name</td>
        <td>Others Name</td>
        <td>Scientific Name</td>
        <td>Contributer</td>
    </tr>
</tbody>
</table>

</div>