<div class="main">
    <div class="basics_info" *ngIf="userData$ | async as userData">
        <ul>
            <li>Name: {{userData.name}} </li>
            <li>Email: {{userData.mail}} </li>
            <li>Contribution: {{userData.contributionPoints}} </li>
            <li>Social Link: {{userData.socialLink}} </li>
        </ul>
    </div>
    <div class="actions" *ngIf="isAuthorize$ | async as isAuth">
        <div *ngIf="isAuth.isAuthenticated">
            <button routerLink="/add-flora">Add New</button>
            <button>Update Profile</button>
            <button routerLink="/approve-flora">Approve</button>
            <button (click)="logoff()">Logoff</button>
        </div>
    </div>
</div>


<div class="posts" *ngIf="userFlora$ | async as floras">
    <app-info-card *ngFor="let flora of floras" [floraInfo]="flora">
        <div class="actions" *ngIf="isAuthorize$ | async as isAuth">
            <div *ngIf="isAuth.isAuthenticated">
                <button routerLink="/update-flora/{{flora.id}}">Update</button>
                <button disabled [style.background]="flora.isApprove ? 'green' : 'red'"> {{flora.isApprove ? "Approved" : "Pending"}} </button>
            </div>
        </div>
    </app-info-card>
</div>